body {
    margin: 0;
    padding: 0;
  }

  header h1 {
    background-color: rgb(199, 199, 199);
    margin: auto;
    width: 40%;
    padding: 15px;
    color:black;
    text-align: center;
  }

  .formButtons {
    background-color: rgb(215, 231, 250);
    padding: 15px;
    border: 10px solid rgb(156, 228, 233);
    width: 55%;
    margin: auto;
    text-align: center;
  }

  button {
    color: rgb(0, 0, 0);
    background-color: rgb(251, 255, 1);
  }

  main {
    padding: 15px;
    width: 55%;
    margin: auto;
    text-align: justify;
    border: 10px solid rgb(199, 199, 199);
    background-color: rgb(230, 230, 230);
  }

  table {
    padding: 5px;
    margin: auto;
  }

  ul {
    padding: 15px;
    width: 100%;
    margin: auto;
    text-align: center;
  }

  li {
    margin: auto;
    width: 20%;
    background-color: rgb(195, 252, 255);
    border: 5px solid rgb(230, 230, 230);
  }

  main button {
    color: rgb(0, 0, 0);
    background-color: rgb(156, 228, 233);
  }

  