body {
    margin: 0;
    padding: 0;
  }

  header h2 {
    background-color: rgb(253, 116, 116);
    margin: auto;
    height: 50px;
    color:black;
  }

  form {
      background-color: antiquewhite;
      display: block;
      padding: 10px;
      border: 10px solid rgb(156, 228, 233);
  }

  table {
    padding: 10px;
  }

  main {
    border: 10px solid rgb(255, 204, 93);
  }

  button {
    color: rgb(0, 0, 0);
    background-color: rgb(251, 255, 1);
  }

  main button {
      color: rgb(0, 0, 0);
      background-color: rgb(156, 228, 233);
  }